@{
	Layout = "";
}

<div class="row">
	<div class="col-md-12">
		<div>@T("Plugins.Payments.WayForPay.RedirectionTip")</div>
		<div class="md-margin"></div>
		<div class="row">
			<div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-12">
				<div class="row">
					<div class="col-xs-4 d0-w4p-visa"></div>
					<div class="col-xs-4 d0-w4p-mc"></div>
					<div class="col-xs-4 d0-w4p"></div>
				</div>
			</div>
		</div>
		<div class="md-margin"></div>
		<div>@T("Plugins.Payments.WayForPay.Next")</div>
	</div>
</div>
